<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MFFoundation Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MFFoundation-MacOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MFFoundation-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MFFoundationDoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC068ADE1C9EB1FA00940720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC201ED91C9D6305001DE14C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC201EDD1C9D6628001DE14C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC47CB641C944E6E005490DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC47CC8C1C948B2F005490DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC8E12381C96F6970044F3B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
